#Ignores all files inside the build directory at the root of the repository.
/build

#Ignores all files ending with *.env
*.env

#Ignores all files in the subdirectory test-runs/logs
test-runs/logs  

#Ignores all CSV files anywhere in the repository
*.csv